.JobTableRow td {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: .9em;
}

.JobTableRowCommand {
  word-break: break-all;
  white-space: pre-wrap;
}

.ui.table .JobTableRow td.positive {
  background: inherit !important;
  color: #00b5ad !important;
}

.ui.table .JobTableRow td.warning {
  background: inherit !important;
  color: #a333c8 !important;
}

.ui.table .JobTableRow td.error {
  background: inherit !important;
  color: #e03997 !important;
}
