.KeyListItem {
  margin: 1em 0;
}

.KeyListItem .header {
  padding-top: 0.5em;
}

.KeyListItem .description {
  margin: 1em 0;
}

.KeyListItem .description code {
  font: var(--mono-font);
  word-break: break-all;
  white-space: pre-wrap;
}
