.LogEntryMessage a {
  color: inherit !important;
  text-decoration: underline;
}

.LogEntryMessage .ansi-black {
  color: var(--charcoal);
}

.LogEntryMessage .ansi-red {
  color: var(--red);
}

.LogEntryMessage .ansi-green {
  color: var(--olive);
}

.LogEntryMessage .ansi-yellow {
  color: var(--orange);
}

.LogEntryMessage .ansi-blue {
  color: var(--blue);
}

.LogEntryMessage .ansi-magenta {
  color: var(--pink);
}

.LogEntryMessage .ansi-cyan {
  color: var(--teal);
}

.LogEntryMessage .ansi-white {
  color: var(--white);
}

.LogEntryMessage .ansi-bright-black {
  background-color: var(--charcoal);
}

.LogEntryMessage .ansi-bright-red {
  background-color: var(--red);
}

.LogEntryMessage .ansi-bright-green {
  background-color: var(--olive);
}

.LogEntryMessage .ansi-bright-yellow {
  background-color: var(--orange);
}

.LogEntryMessage .ansi-bright-blue {
  background-color: var(--blue);
}

.LogEntryMessage .ansi-bright-magenta {
  background-color: var(--pink);
}

.LogEntryMessage .ansi-bright-cyan {
  background-color: var(--teal);
}

.LogEntryMessage .ansi-bright-white {
  background-color: var(--white);
}
