.ui.table .LogEntryTableRow td {
  word-break: break-all;
  white-space: pre-wrap;
  font: var(--mono-font);
  padding-top: .25em;
  padding-bottom: .25em;
  border-top: none;
}

.ui.table .LogEntryTableRow td code {
  font-size: 1em;
}
