.Page {
  margin: 2em 2em 1em;
}

.PageFullWidth {
  margin: 2em 0 1em;
}

.PageFullWidth .ui.header {
  margin: 0 1em;
}

@media only screen and (max-width: 767px) {
  .Page {
    margin-left: 0;
    margin-right: 0;
  }
}

.Page > .ui.header {
  margin-bottom: 1em;
}
