.ProcessTableRow td {
  font: var(--mono-font);
}

.ProcessTableRowCommand {
  word-break: break-all;
  white-space: pre-wrap;
}

.ui.table td.ProcessTableRowActions {
  padding-top: 0;
  padding-bottom: 0;
}
