.ProjectCard .ui.label {
  margin: 0.6em 0.8em 0 0;
}

.ProjectCard.ui.card > .content > .meta {
  font-size: 0.9em;
  word-break: break-all;
  display: block;
  margin-bottom: 0.2em;
}

.ProjectCard.ui.card > .content > .description {
  margin: 1em 0;
}

.ProjectCard .ui.menu {
  min-height: 2.7em;
}
