.VariableFormField {
  margin: 1em 0;
}

.VariableFormField:first-child {
  margin-top: 0;
}

.VariableFormField:last-child {
  margin-bottom: 0;
}

.VariableFormField textarea {
  font: var(--mono-font);
}

.VariableFormField .ui.checkbox {
  top: -.3em;
}
