.VariableFormField {
  margin: 1em 0;
}

.VariableFormField:first-child {
  margin-top: 0;
}

.VariableFormField:last-child {
  margin-bottom: 0;
}

.VariableFormField textarea {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: .9em;
}

.VariableFormField .ui.checkbox {
  top: -.3em;
}
