:root {
  --white: #fff;
  --light-grey: #f0f0f0;
  --red: #db2828;
  --orange: #f2711c;
  --yellow: #fbbd08;
  --olive: #b5cc18;
  --green: #21ba45;
  --teal: #00b5ad;
  --blue: #2185d0;
  --violet: #6435c9;
  --purple: #a333c8;
  --pink: #e03997;
  --brown: #a5673f;
  --grey: #767676;
  --charcoal: #222;
  --black: #1a1a1a;

  --background-color: var(--white);
  --primary-color: var(--teal);
  --link-color: var(--teal);
  --success-color: var(--green);
  --warning-color: var(--orange);
  --error-color: var(--red);

  --mono-font: .9em "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

body:not(.inverted) #root {
  min-height: 100%;
  padding-bottom: 10em;
  background: url(/bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

body.inverted {
  background-color: var(--charcoal);
}

body.inverted .ui.radio.checkbox label {
  color: var(--white);
}

a, .markdown-body a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

a.header:hover {
  color: var(--link-color) !important;
  text-decoration: none;
}

.ui.input, textarea {
  max-width: 1023px;
}

code {
  font: var(--mono-font);
}

@media only screen and (max-width: 767px) {
  .ui.container {
    margin: 0 !important;
  }
}

.ui.menu.secondary {
  background: var(--light-grey);
  border-radius: 0.28571429rem;
  padding: 0;
  min-height: 0;
}

.ui.message {
  box-shadow: none !important;
  padding: 1em;
}

.ui.cards > .card, .ui.card {
  box-shadow: none !important;
  background: var(--light-grey);
}

.ui.cards > .card > .extra, .ui.card > .extra {
  border-top: none !important;
}

.ui.card .ui.tabular.menu .active.item {
  background: var(--light-grey);
}

.ui.menu, .ui.segment, .ui.card {
  box-shadow: none;
}

.ui.inverted.table {
  background-color: var(--charcoal);
}

.ui.table td.positive {
  background: inherit !important;
  color: var(--success-color) !important;
}

.ui.table td.warning {
  background: inherit !important;
  color: var(--warning-color) !important;
}

.ui.table td.error {
  background: inherit !important;
  color: var(--error-color) !important;
}
