body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f5f5f5;
}

.ui.menu, .ui.segment, .ui.card {
  box-shadow: none;
}

.ui.inverted.table {
  background-color: #222;
}

a {
  color: #00B5AD;
}

a:hover {
  color: #00B5AD;
  text-decoration: underline;
}

a.header:hover {
  color: #00B5AD !important;
  text-decoration: none;
}

code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
